<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zhuchuansheng.dao.LocationDao">

    <sql id="selectField">
        LOCATION_ID locationId,
        STREET_ADDRESS streetAddress,
        POSTAL_CODE postalCode,
        CITY city,
        STATE_PROVINCE stateProvince,
        COUNTRY_ID countryId
    </sql>


    <!-- 查询所有的地址 -->
    <select id="selectLocationAll" resultType="com.zhuchuansheng.entity.Location">
        SELECT
            <include refid="selectField"/>
        FROM
            LOCATIONS
    </select>

</mapper>
